//Primary Colors
$primaryColor: #f5118b;
$primaryMedium: yellow;
$primaryLight: cyan;
// Secondary Colors
$textColor: #ffffff;
$secondaryLight: #bdc5d5;
// Background Colors
$backgroundDark: #000000;
$backgroundLight: #ffffff;
// Supporting Colors

