@font-face {

  font-family: "Rubik Glitch Pop";
  src: url("../../assets/fonts/RubikGlitchPop-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {

  font-family: "Roboto-Light";
  src: url("../../assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: light;
}


