@import "../../styles/partials/colors";
@import "../../styles/partials/breakpoints";

.__button {
  --b: 3px;
  --s: 0.45em;
  --color: orange;
  // z-index: 6;
  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 2rem 0rem 0rem 44rem;
}

.__button:hover,
.__button:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.__button:active {
  background: var(--color);
  color: #fff;
}

.header--menu {
  font-size: 18px;

  &-links {
    display: flex;
    flex-direction: row;
    &:hover{
      a{
        transform: scale(1.5);
        opacity: 0.2;
        filter: blur(5px);
  
      }
    }
    
  }

  &-link {
    padding-right: 2rem;
    list-style-type: none;
    transition: 0.5s;

    a {
      text-decoration: none;
      font-family:  "Roboto-Light";
      color: black;
      display: block;
      position: relative;
      padding: 5px;
      font-size: 1.6rem;
      // text-transform: uppercase;
      transition: 0.5s;

      &:hover{
        transform: scale(1);
        opacity: 1;
        filter: blur(0);
        text-decoration: none;
        color: white;
        font-weight: 700;

        &::before{
          transition:transform 0.5s;
          transform-origin:left;
          transform:scaleX(1);
        }
      }

      &:before{
        content: '';
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:#f5118b;
        transition:0.5s;
        transform-origin:right;
        transform:scaleX(0);
        z-index:-1;
}
      }
    }

}




